@import "partials/layout/header";
@import "partials/component/button";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

//Variables
$bg: #F0EEEB;


* {
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: $bg;
    
    
}