
.logo {
    display: flex;
    align-items:center;
    background-color: white;
    @media (min-width: 1131px) {
        justify-content: center;
    }
    @media (max-width: 1130px) {
        overflow-x: auto;
    }

    img {
        width: 6rem;
        margin: 1.5rem;
    }
}

.escrow {
    background-color: #F0EEEB;
    border-radius: 0.30rem;
    @media (min-width: 1250px) {
        width: 1200px;
        margin: auto;
        padding: 1rem;
        background-image: url("/Assets/Phone Mockup (Desktop).png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media (max-width: 1249px) and (min-width: 993px) {
        background-image: url("/Assets/Phone Mockup (Desktop).png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: auto;
        width: 95%;
    }
    @media (max-width: 992px) and (min-width: 768px) {
        background-image: url("/Assets/Phone Mockup (Tablet).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding: 1rem;
        height: 700px;
        margin: auto;
        width: 90%;
    }
    @media (max-width: 767px) {
        background-image: url("/Assets/Phone Mockup (Mobile).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding: 1rem;
        height: 900px;
        margin: auto;
        width: 90%;
    }

    &--text {
        @media (max-width: 992px) and (min-width: 768px) {
            padding: 3rem;
        }
    }
}



.sous-titre {
    font-size: 2.8rem;
    padding: 1rem;
}

.paragraphe {
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5;
    color: $grey;
}

.lien {
    padding: 1rem;
    color: black;
    cursor: pointer;
    font-weight: 800;
    color: $grey;
}

.editor {
    background-color: white;
    width: 1200px;
    @media (max-width: 1250px) {
        width: 100%; 
        padding: 1rem;   
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    &--img {
        background-image: url("/Assets/Text Editor.png");
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 993px) {
            width: 50%;
            height: 350px;
        }
        @media (min-width: 992px) {
            width: 90%;
            height: 400px;
        }
        
    }
    @media (max-width: 993px) {
        flex-direction: column;
    }
}