@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F0EEEB;
  width: 100%;
}

header .intro {
  background: black;
  color: white;
}

header .intro__announce {
  text-align: center;
  padding: 0.8rem;
}

header .intro__announce--earnings {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  text-underline-offset: 2px;
  cursor: pointer;
}

.presentation {
  margin: auto;
  margin-bottom: 2.5rem;
}

@media (min-width: 1251px) {
  .presentation {
    width: 1200px;
  }
}

@media (max-width: 1250px) {
  .presentation {
    width: 95%;
    padding: 1rem;
  }
}

.presentation .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.presentation .navbar__logo--text {
  font-size: 1.5rem;
  font-weight: 900;
}

.presentation .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
}

.presentation .navbar__menu--links {
  width: 8rem;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  position: relative;
}

.presentation .navbar__menu--links::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0;
  background: black;
  opacity: 0.1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.presentation .navbar__menu--links:hover::before {
  height: 100%;
}

.presentation .navbar__start--login {
  font-weight: bold;
}

.presentation__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 993px) {
  .presentation__bloc {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .presentation__bloc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .presentation__bloc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 993px) {
  .presentation__bloc--text {
    width: 55%;
    padding: 1rem;
  }
}

@media (max-width: 992px) {
  .presentation__bloc--text {
    width: 80%;
  }
}

@media (min-width: 993px) {
  .presentation__bloc--text h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  .presentation__bloc--text h1 {
    width: 95%;
    font-size: 2.5rem;
  }
}

.presentation__bloc--text p {
  line-height: 1.8;
  margin: 0.5rem 0;
}

.presentation__bloc--text .markList__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.presentation__bloc--text .markList__mark h4 {
  margin: 0 1rem;
  color: #333333;
}

.presentation__bloc--text input {
  padding: 0.75rem 1.25rem;
  border-radius: 0.30rem;
  border: 1px solid gray;
  font-size: 0.8rem;
}

.presentation__bloc--img {
  -webkit-transition: background-image ease .4s, height ease .3s;
  transition: background-image ease .4s, height ease .3s;
  margin: 0.5rem;
}

@media screen and (min-width: 993px) {
  .presentation__bloc--img {
    width: 50%;
    height: 700px;
    background-image: url("/Assets/Hero_Image-Desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .presentation__bloc--img {
    width: 100%;
    height: 500px;
    background-image: url("/Assets/Hero_Image-Tablet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .presentation__bloc--img {
    width: 100%;
    height: 590px;
    background-image: url("/Assets/Hero_Image-Mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

@media (min-width: 1131px) {
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1130px) {
  .logo {
    overflow-x: auto;
  }
}

.logo img {
  width: 6rem;
  margin: 1.5rem;
}

.escrow {
  background-color: #F0EEEB;
  border-radius: 0.30rem;
}

@media (min-width: 993px) and (max-width: 1250px) {
  .escrow {
    width: 1200px;
    margin: auto;
    padding: 1rem;
    background-image: url("/Assets/Phone Mockup (Desktop).png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 992px) {
  .escrow {
    background-image: url("/Assets/Phone Mockup (Desktop).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
  }
}

@media (max-width: 1250px) {
  .escrow {
    width: 100%;
    padding: 1rem;
  }
}

.sous-titre {
  font-size: 2.8rem;
  padding: 1rem;
}

.paragraphe {
  padding: 0 1rem 1rem 1rem;
  line-height: 1.5;
  color: #333333;
}

.lien {
  padding: 1rem;
  color: black;
  cursor: pointer;
  font-weight: 800;
  color: #333333;
}

.editor {
  background-color: white;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 2rem;
}

@media (max-width: 1250px) {
  .editor {
    width: 100%;
    padding: 1rem;
  }
}

.editor--img {
  background-image: url("/Assets/Text Editor.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 350px;
}

footer {
  background-color: black;
  padding: 1rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: auto;
}

@media (max-width: 1250px) {
  .footer__container {
    width: 100%;
    padding: 1rem;
  }
}

.footer__container .column {
  margin: 1rem;
}

.footer__container h4, .footer__container h3 {
  color: white;
  margin: 1rem;
}

.footer__container p, .footer__container li {
  color: gray;
  margin: 1rem;
}

.footer__container p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.footer__container ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.btn {
  padding: 0.75rem 1.25rem;
  background-color: black;
  color: white;
  border-radius: 0.30rem;
  border: none;
  margin: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.btn:hover {
  background-color: #b3b3b3;
  color: black;
}

* {
  margin: 0;
}

body {
  font-family: 'Cabin', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* Track */
  /* Handle */
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* Handle on hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */